body{
    font-family:sans-serif;
}
section{
    max-width: 1000px;
    height: 100vh;
}
.ho:hover{
    color: rgb(250, 157, 114);
}
/* .button:hover{
    color: black;
    background-color: rgb(250, 157, 114);
} */
.nav{
    height: 60px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(250, 157, 114);
    box-shadow: 2px 5px 10px rgb(180, 172, 172);
}
.border{
    border: 2px solid rgb(250, 157, 114);
}
.bold{
    font-weight: 700;
}
.height{
    height: 75vh;
}
.btn-outline{
    color: black;
    border-color: rgb(250, 157, 114);
}
.button{
    border: 2px solid rgb(250, 157, 114);
    color: rgb(250, 157, 114);
}
.button:hover{
    background-color: rgb(250, 157, 114);
    color: white;
}
.clr{
    color: rgb(250, 157, 114);
}
.white{
    color: white;
}
.hide{
    visibility: hidden; /* Initially hidden but occupies space */
    position: absolute;
}
input:focus,
textarea:focus {
  border-color: rgb(250, 157, 114) !important;
  box-shadow: 0 0 0 0.2rem rgba(250, 157, 114, 0.25) !important;
}
.bgclr{
    background-color: rgb(250, 157, 114);
}
.glass{
    backdrop-filter: blur(10px); 
}
.margin{
    margin-top: 150px;
}
.imgSize{
    width: 75%;;
}
